.modal-pix {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.conteudo-pix {
    background-color: white;
    margin: 15% auto;
    padding: 25px;
    width: 85%;
    max-width: 400px;
    border-radius: 20px;
    text-align: center;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.chave-destaque {
    background: #f0f0f0;
    padding: 12px;
    display: block;
    margin: 15px 0;
    word-break: break-all;
    font-size: 13px;
    border: 1px dashed #25d366;
    color: #333;
    font-weight: bold;
}

.btn-ok-pix {
    background: #25d366;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
